body {
  font-family: "Bodoni Moda", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  background: white;
}
h1 {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

input,
textarea {
  padding: 0.8rem;
  border-radius: 5px;
  border: 2px solid #bbbbbb;
  font-family: sans-serif;
  font-size: 15px;
}

button {
  background-color: #647af6;
  color: white;
  font-family: sans-serif;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4a66f4;
}

button[type="submit"] {
  background-color: #3b56dd;
  height: 60px;
  font-size: 16px;
}

.upload-btn {
  display: inline-block;
  background-color: #4a90e2;
  color: white;
  font-family: sans-serif;
  padding: 20px 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.upload-btn:hover {
  background-color: #5186bb;
}

.projectDescription {
  display: block;
  font-size: 14px;
  color: #666666;
  margin-top: 6px;
  width: 500px;
  height: 70px;
}

/* Preview Page Styling */

#portfolioPreview {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  font-family: "Bodoni Moda", sans-serif;
  text-align: center;
}

#portfolioPreview h1 {
  color: #2a2a2a;
  font-size: 3em;
  margin-bottom: 0.3em;
}

#portfolioPreview h2 {
  color: #555;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

#portfolioPreview p {
  color: #333;
  line-height: 1.6;
  font-size: 1em;
}

#portfolioPreview ul {
  list-style: none;
  padding: 0;
}

#portfolioPreview li {
  background-color: #f3f3f3;
  display: inline-block;
  margin: 5px;
  padding: 8px 15px;
  border-radius: 12px;
  font-weight: 500;
}
#portfolioPreview img {
  max-width: 30%;
  border-radius: 8%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.project {
  background-color: #fafafa;
  margin-top: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
}

hr {
  border: none;
  border-top: 3px solid #494747;
  border-radius: 100px;
  margin: 25px 0;
  width: 100%;
}
